.form-field {
    color: rgb(51, 49, 49);
    font-family: 'Krona One', sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid grey;
    width: 200px;
    
}

.form-btn {
    color: rgb(51, 49, 49);
    border: 2px solid grey;
    font-family: 'Krona One', sans-serif;
    padding: 4px;
    border-radius: 5px;
}