.report-wrapper {
    color: rgb(51, 49, 49);
    margin:10px;
    border:2px solid black;
    padding: 10px;

    
}
.report-item {
    margin:20px;
    border:2px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(91, 145, 189);
    filter: drop-shadow(.75em .75em .5em);
}